---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Firebase and Firebase UI scripts/styles -->
    	<script src="https://www.gstatic.com/firebasejs/9.x.x/firebase-app.js"></script>
    	<script src="https://www.gstatic.com/firebasejs/9.x.x/firebase-auth.js"></script>
    	<script src="https://cdn.firebase.com/libs/firebaseui/5.x.x/firebaseui.js"></script>
    	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/5.x.x/firebaseui.css" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
