<footer>
    <p>&copy; 2023 Daddy's Stock</p>
  </footer>
  
  <style>
    /* Footer Styles */
    footer {
      width: 100%;
      padding: 1rem 0;
      background-color: #f5f5f5;
      color: rgb(0, 0, 0);
      text-align: center;
    }
  </style>