<!-- Navbar.astro -->
<nav class="navbar">
    <div class="container">
      <h1 class="logo"><a href="/">Daddy's Stock</a></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  
  <style>
    /* CSS Reset */
    body, h1, ul, li, a {
      margin: 0;
      padding: 0;
    }
  
    /* Navigation Bar Styles */
    .navbar {
    background-color: #f5f5f5;
    color: #333;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;  /* Ensure navbar stays on top of other content */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    }
  
    .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  

    .logo a {
      color: #333;
      text-decoration: none;
    }

  
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }
  
    li {
      gap: 20px;
    }
  
    a {
      color: #333;
      text-decoration: none;
      font-size: 1.4rem;
      transition: color 0.3s;
    }

  
    a:hover {
      color: #b7b7b7;
    }
  </style>
  